<div align="center"><h1>PictShare</h1></div>
<hr>
<div class="row">
<% if session[:login_name] != nil %>
<div class="col-md-4" align="center">
  <%= link_to 'ログアウト', top_logout_path, class:"btn btn-secondary" %></div>
  <div class="col-md-4" align="center">
  <%= link_to 'マイページ', user_path(@user), class:"btn btn-info" %></div>
  <div class="col-md-4" align="center">
  <%= link_to '絵を描く', canvazs_new_path , class:"btn btn-success"%></div>
 <% else %>
  <div class="coc-md-12"><%= link_to 'ログイン', top_login_path, class:"btn btn-primary" %></div>
<% end %>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div align="center">
<%= search_form_for(@q, :url => {:controller => :pages, :action => :index}) do |f| %>
  <%= f.label :title_or_title_cont, "画像を検索" %>
  <%= f.search_field :title_or_title_cont %>
  <br/>
  <%= f.submit %>
<% end %>
</div>