<%= form_for 'top/login' do %>
<table>
  <tr>
    <td><%= label_tag :name, 'name' %></td>
    <td><%= text_field_tag :name %></td>
  </tr>
  <tr>
    <td><%= label_tag :password_digest, 'password' %></td>
    <td><%= password_field_tag :password_digest %></td>
  </tr>
  <tr>
    <td><%= submit_tag 'ログイン', class:"btn btn-outline-primary" %></td>
  </tr>
</table>
<% end %>
<br/>

<%= link_to '登録ページ' , new_user_path, class:"btn btn-outline-success" %><br>
<br>
<%= link_to 'トップへ', '/' %>