 <%= form_for @user , url: {action: :update} do |u| %>
<p><%= u.label :name, 'お名前' %>
<%= u.text_field :name%></p><br>
<p><%= u.label :mail, 'メールアドレス' %>
<%= u.text_field :mail%></p><br>
<p><%= u.label :intro, '自己紹介' %>
<%= u.text_field :intro%></p><br>
   <hr>
   <% if @user.userimage != nil %>
     <h2>現在のプロフィール画像</h2><br>
     <%= image_tag @user.userimage.thumb %><br>
   <% else %>
     <h1>まだプロフィール画像は登録されていないようです</h1><br>
   <% end %>
   <p><%= u.label :userimage, '新規プロフィール画像' %><%= u.file_field :userimage %></p>
 <%= u.submit '再登録' %>
 <% end %>