<% if @fol == "follow" %>
  <h1>フォロー一覧</h1>
<% elsif @fol == "follower" %>
  <h1>フォロワー一覧</h1>
<% else %>
  <h1>?????????????????</h1>
<% end %>
<hr>
<% @user.each do |u| %>
<div style="border: 4px solid #82636b; border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px; margin: 2em 0; padding: 2em;">
<div align="center"><h3><%= link_to u.name, controller: "pages", action: "folsearch", id: u.id %></h3></div>
</div>
<% end %>