<%= form_for @user do |f| %>
<form>
  <table>
  <tr>
    <td><%= f.label :name, 'name' %></td>
    <td><%= f.text_field :name, :placeholder => "name" %></td>
  </tr>
  <tr>
    <td><%= f.label :mail, 'mail' %></td>
    <td><%= f.text_field :mail, :placeholder => "example@example.com" %></td>
  </tr>
  <tr>
    <td><%= f.label :age, 'age' %></td>
    <td><%= f.number_field :age, :placeholder => "23(example)" %></td>
  </tr>
  <tr>
    <td><%= f.label :password_digest, 'password' %></td>
    <td><%= f.password_field :password_digest, :placeholder => "password" %></td>
  </tr>
  <tr>
    <td><%= f.submit '登録', class:"btn btn-outline-primary" %></td>
  </tr>
  </table>
</form>
<% end %>
<br/>
<%= link_to 'homeへ', '/' %>
