<h1>ユーザー名<%= ">>#{@user.name}" %></h1>
<hr>
<div align="center">
<%= image_tag @user.userimage %>
<hr>
<strong><%= link_to "プロフィールを編集する", edit_user_path(@user.id), method: :get %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "フォローしてる", controller: "users", action: "folfow", id: @user.id, fol: "follow" %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "フォローされてる", controller: "users", action: "folfow", id: @user.id, fol: "follower" %></strong>
<hr>
<div style="padding: 10px; margin-bottom: 10px; border: 5px double #333333; border-radius: 10px;">
<h1><%= link_to "投稿したお絵かき", pages_dfsearch_path, q: "原案" %></h1>
</div>
<div style="padding: 10px; margin-bottom: 10px; border: 5px double #333333; border-radius: 10px;">
<h1><%= link_to "提案した画像", pages_susearch_path, q: "提案" %></h1>
</div>
</div>