<script>
if (window.name != "xyz")
{
	location.reload();
	window.name = "xyz";
}
</script>

<h1>らくがき帳</h1>
<hr>
  <canvas id="draw-area" width="800" height="500" style="background-color:gray;"></canvas>
  
    <span id="clear-button">消去</span>
    <span id="return-button" class="controll-button">戻す</span>
    <%= form_for @dfpic, :url => { :controller => :canvazs, :action => :create } do |d| %>
      <%= d.hidden_field :dfimage, :value => '' %>
    <% end %>
    <%= range_field_tag 'pen-width-slider', 1, :min => 1, :max => 20 %>
    <span id="show-pen-width">1</span>px<br/>
    <%= range_field_tag 'pen-color-red-slider', 0, :min => 0, :max => 255 %>
    <span class="red">R</span> <span id="show-pen-red">0</span><br />
    <%= range_field_tag 'pen-color-green-slider', 0, :min => 0, :max => 255 %>
    <span class="green">G</span> <span id="show-pen-green">0</span><br />
    <%= range_field_tag 'pen-color-blue-slider', 0, :min => 0, :max => 255 %>
    <span class="blue">B</span> <span id="show-pen-blue">0</span><br />
    <div id="preview-color"></div><br/>
    <span id="save-button" class="controll-button">保存</span>