<h1><%= "#{@user.name}さんの投稿一覧です" %></h1>
<hr>
<div class="row">
<% @user.dfpics.each do |d| %>
<div class="col-md-4">
<div class="alert alert-primary" role="alert" >
  <%= image_tag d.dfimage.thumb %>
</div>
</div>
<% end %>
</div>
<%= paginate @dfresult %>
<hr>

<div class="row">
<hr>
<% @user.supics.each do |s| %>
<div class="col-md-4">
<div class="alert alert-primary" role="alert" >
  <%= image_tag s.suimage.thumb %>
</div>
</div>
<% end %>
</div>

<%= paginate @suresult %>