<%= search_form_for(@search, :url => {:controller => :pages, :action => :index}) do |f| %>
  <%# or で複数の値をorで検索（and 複数の値をand条件で検索） %>
  <%= f.label :title_or_title_cont, "名前 or 説明" %>
  <%= f.search_field :title_or_title_cont %>
  <%= f.submit %>
<% end %>
<hr>
  <div class="row">
<% if @result.any? %>
	    <% @result.each do |d| %>
	    <div class="col-md-4">
	    	<div class="alert alert-primary" role="alert" >
	        title:<%= link_to(d.title, image_path(d.id)) %><br>
	      <tr>
	        <% if @user.name != d.user.name %>
	          <% if @user.following?(d.user) %>
	            creator:<td><span class="hint--bottom" data-hint="アンフォローする?"><%= link_to d.user.name, controller: "users", action: "unfollow", id: d.id %></span></td>
	          <% else %>
	            creator:<td><span class="hint--bottom" data-hint="フォローする?"><%= link_to d.user.name, controller: "users", action: "follow", id: d.id %></span></td>
	          <% end %>
	        <% else %>
	          creator:<td><span class="hint--bottom" data-hint="自分です"><%= d.user.name %></span></td>
	        <% end %>
	        <% if @q == "原案" %>
	        picture:<%= image_tag d.dfimage.thumb %><br>
	        <% elsif @q == "提案" %>
	        picture:<%= image_tag d.suimage.thumb %><br>
	        <% else %>
	        picture:<%= image_tag d.dfimage.thumb %><br>
	        <% end %>
	      </tr>
	      </div>
	    </div>
	    <% end %>
</div>
<% else %>
<h3>無理</h3>
<% end %>
<%= paginate @result %>
</div>