// Place all the styles related to the canvazs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#preview-color {
    width: 30px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    border: solid 1px black;
}
