<h1>原案詳細<%= ">>#{@dfpic.title}" %></h1>
<hr>
<div align="center">
<%= image_tag @dfpic.dfimage %><br>
<% @dfpic.tags.each do |t| %>
  <strong><%= t.tagname %></strong><hr>
<% end %>
<%= form_for @supic , url: {action: :create} do |s| %>
  <p><%= s.label :suimage, '画を提供する' %></br><%= s.file_field :suimage %></p>
  <%= s.hidden_field :id, :value => @dfpic.id %>
  <%= s.submit '投稿' %>
<% end %>
<hr>
<div style="padding: 10px; margin-bottom: 10px; border: 5px double #333333; border-radius: 10px;">
  <h1><%= link_to "提供された画を見る", controller: "images", action: "supic", id: @dfpic.id %></h1>
</div>
</div>