  <div class="row">
<% if @dfpic.supics.first %>
	    <% @dfpic.supics.each do |s| %>
	    <div class="col-md-4">
	    	<div class="alert alert-primary" role="alert" >
	        タイトル:<%= s.title %><br>
	      <tr>
	        <% if @user.name != s.user.name %>
	          <% if @user.following?(d.user) %>
	            投稿者:<td><span class="hint--bottom" data-hint="アンフォローする?"><%= link_to s.user.name, controller: "users", action: "unfollow", id: s.id %></span></td>
	          <% else %>
	            投稿者:<td><span class="hint--bottom" data-hint="フォローする?"><%= link_to s.user.name, controller: "users", action: "follow", id: s.id %></span></td>
	          <% end %>
	        <% else %>
	          投稿者:<td><span class="hint--bottom" data-hint="自分です"><%= s.user.name %></span></td>
	        <% end %>
	        </br>画像及び絵画:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag s.suimage.thumb %><br>
	      </tr>
	      </div>
	    </div>
	    <% end %>
</div>
<% else %>
<div class="col-md-4">
    <div class="alert alert-primary" role="alert" >
        タイトル:<h3>まだないようです</h3>
    </div>
</div>
        
<% end %>
</div>