<!DOCTYPE html>
<html>
<head>

  <title>PictShare</title>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/hint.css/2.0.0/hint.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div class="container">
  <%= yield %>
</div>

</body>
<footer class="footer">
  <nav class="navbar fixed-bottom navbar-dark bg-primary">
  <a class="navbar-brand"><div align="right">
    <a href="/"><img src="assets/33350.png" width="50" height="50"></a></div></a>
</nav>
</footer>
</html>
